.site-layout-content {
    min-height: 480px;
    padding: 24px;
    background: #fff;
  }
  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
    [data-theme="dark"] .site-layout-content {
      background: #141414;
    }
    
    [class~='ant-col'] {
        background: transparent;
        border: 0;
      }
      [class~='ant-col'] > div {
        height: 120px;
        font-size: 14px;
        line-height: 120px;
        /* border: 1px solid #141414; */
        /* background: #0092ff; */
        border-radius: 4px;
      }
      pre {
        padding: 8px 16px;
        font-size: 13px;
        background: #f9f9f9;
        border-radius: 6px;
      }
      pre.demo-code {
        direction: ltr;
      }
      .ant-col {
        padding: 0;
      }
      [data-theme="dark"] [class~='ant-col'] > div {
        /* background: #028ac8; */
      }

.content-bar {
    /* display: inline-flex; */
    justify-content: space-between;
}

  .blog-heading {
    font-family: Gilroy;
    font-size: 40px;
  }

  .creat-post-icon {
    font-size: 28px;
    color: #4d4b4b;
    margin-top: 7px;
    cursor: pointer;
}

.load-spinner {
  align-items: center;
}